
{% extends 'theme.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
 
{{ form_start(form) }}
<div class="form-group">
{{ form_row(form.username) }}

{{ form_row(form.email) }}

{{ form_row(form.plainPassword.first) }}

{{ form_row(form.plainPassword.second) }}

<button class="btn btn-lg btn-primary" type="submit">Register!</button>
</div>
{{ form_rest(form) }}
{% endblock %}

{# templates/registration/register.html.twig #}
