
{% extends 'base.html.twig' %}

{% block title %}List of receipts{% endblock %}

{% block body %}

{% if receipt %}
<div class="card shadow mb-4">
<div class="card-header py-3">
<h6 class="m-0 font-weight-bold text-primary">List of receipts</h6>
</div>
<div class="card-body">
<div class="table-responsive">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<thead>
<tr>
<th>#</th>
<th>Name</th>
<th>Description</th>
<th>Instruction</th>
<th>Prepararion</th>
<th>Level</th>
<th>Picture</th>
<th>Ingrediant</th>

<th>Actions</th>
</tr>
</thead>
<tbody>

{% for receipt in receipt %}
<tr> 
<td> {{ receipt.id }} </td>
<td> {{ receipt.name }} </td>
<td> {{ receipt.description}} </td>
<td> {{ receipt.instruction }} </td>
<td> {{ receipt.preparation }} </td>
<td> {{ receipt.level}} </td>



<td>
 <img alt="card-img-top" src=" {{ vich_uploader_asset(receipt, 'imageFile') | imagine_filter('thumb') }}" img/receipt/{{ receipt.imageName }}" >
</td>

{% for receipt in receipt.getIngrediant %}
<td> {{ receipt.name }} </td>
{% endfor %}

<td> 
<a href="/receipt/{{ receipt.id }}" <i class="fas fa-eye"></i></a>
<a href="/receipt/update/{{ receipt.id }}" class="far fa-edit"></a>
<a href="/receipt/add" class="fas fa-plus"></a>
<a href="#" class="fas fa-trash" data-id="{{ receipt.id }}"></a>  

</td>
</tr>
 {% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% else  %}
<p> The list of receipts is empty</p>

{% endif %}

{% endblock %}

{% block javascripts %}
<script src="/js/main.js">  </script>

{% endblock %}

