{% extends 'base.html.twig' %}

{% block title %}La liste des utilisateurs{% endblock %}

{% block body %}

{% if user %}
<h1> Liste des utilisateurs</h1>
<table id="user" class="table table-striped"> 
<thead>
<tr>
<th>#</th>
<th>Nom d'utilisateur</th>
<th>Mot de passe</th>
<th>Email</th>
<th>Actions</th>
</tr>
</thead>
<tbody> 

{% for user in user %}
<tr> 
<td> {{ user.id }} </td>
<td> {{ user.username }} </td>
<td> {{ user.password }} </td>
<td> {{ user.email}} </td>

<td> 
<a href="/user/{{ user.id }}" class="btn fa fa-eye"></a>
<a href="/user/update/{{ user.id }}" class="btn fa fa-refresh"></a>
<a href="#" class="btn fa fa-trash delete-user" data-id="{{ user.id }}"></a>  

</td>
</tr>
 {% endfor %}
</tbody>
</table>
{% else  %}
<p> La liste des utilisateurs est vide</p>

{% endif %}

{% endblock %}

{% block javascripts %}
<script src="/js/main2.js">  </script>

{% endblock %}

